# basic utilities
tqdm==4.62.3
attrs==21.2.0
cached-property==1.5.2

# scientific computing and machine learning
numpy==1.21.4
torch==1.10.0
geopandas==0.10.2
scikit-learn==1.0.1
matplotlib # just for colors module, any version should do

# geographic data
us==2.0.2

# election data
electiondata==1.5.8
apportionpy==0.3.1

# export
shapely==1.8.0
plotly==5.4.0
svgutils==0.3.4
cairosvg==2.5.2
kaleido==0.2.1

# launch package
tweepy==3.10.0
gspread==3.7.0

# tools
pylint
